body {
    padding-top:20px;
}

h1 {
padding-bottom:0.3em;
    border-bottom:1px solid #eee;
    }

.username {
    color: #ed9c28 !important;
}

.form-signin {
    margin-top:10%;
    width:25%;
    margin-left:auto;
    margin-right:auto;
}

.form-signin input {
    margin-bottom:10px;
}
