body {
    padding-top:20px;
}

h1 {
padding-bottom:0.3em;
    border-bottom:1px solid #eee;
    }

.username {
    color: #31708f !important;
}

.form-signin {
    margin-top:10%;
    width:35%;
    margin-left:auto;
    margin-right:auto;
}

.form-signin input {
    margin-bottom:10px;
}

.container {
    max-width: 960px;
}

.build-failure {
    color: #a94442 !important;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.build-failure:hover {
    background-color: #ebccd1;
}

.build-failure h4 {
    color: #a94442 !important;
}

.diff-line {
    padding:2px;
    background-color: #eee;
    display:block;
}

.diff-green {
    color:green;
}

.diff-red {
    color:red;
}

.diff-yellow {
    color:yellow;
}

.list-group-item.hidden-assignment {
    background-color: #eee;
}
