    {% include 'header.html' %}

    <h1>Unsubmitted Assignments</h1>

    <ul class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Assignment 4</h4>
            <p class="list-group-item-text">Linked Lists or something</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Assignment 3</h4>
            <p class="list-group-item-text">Queue</p>
        </a>
    </ul>
    <h1>Submitted Assignments</h1>

    <ul class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Assignment 2</h4>
            <span class="badge">86%</span>
            <p class="list-group-item-text">Stacks</p>
        </a>
    </ul>

    {% include 'footer.html' %}
