    {% include 'header.html' %}

    <h1>Submission ID {{ submission.id }}</h1>

    {% if submission.build_output %}
        <h3>Build Output</h3>
        <div class="alert alert-warning">In order for your assignment to be graded, correct the errors below. Assignments that do not build properly will recieve no credit.</div>
        <pre>
        {{ submission.build_output }}
        </pre>
    {% endif %}

    {% if not submission.build_output %}
        <h2>Tests</h2>
        <div class="alert alert-info">Check the output below for the results of your assignment.</div>
        {% for test in submission_tests %}
        <h4>Test ID {{ test.test_id }} - {{ test.test.test_type }}</h4>
            {% if test.test.test_type == 'unit' %}
                <pre>{{ test.output }}</pre>
            {% elif test.test.test_type == 'diff' %}
            <div id="test{{ test.test_id }}">
                {{ test.output }}
            </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    {% include 'footer.html' %}
